
@import "fonts";
@import "vars";

.footer {
  font-family: "OpenSans", sans-serif;
  width: 100%;
  height: 620px;
  background-color: #1b2739;
  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  width: 1170px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  width: 230px;
  height: 280px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contacts__logo {
  width: 100%;
  height: 80px;
  background-image: url('../img/logo.png');
  background-position: center;
  background-size: cover;
  margin-bottom: 45px;
}

.contacts__text {
  font-size: 14px;
  color: white;
  line-height: 2em;
}

.menuItem {
  width: 130px;
  height: 280px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  &__headline {
    font-family: "OpenSans semibold", sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
  }
  &__line {
    color: $primaryColor;
    width: 30%;
    margin: 0 0 20px 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
  }
  li {
    line-height: 2em;
  }
}
