
@import "fonts";
@import "vars";

.popularPlaces {
  font-family: "OpenSans", sans-serif;
  height: 1315px;
  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  height: inherit;
  width: 1170px;
  position: relative;
}

.popularPlaces__booking {
  position: relative;
  height: 235px;
  width: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  bottom: 45px;
  margin-bottom: 120px;
}

.popularPlaces__booking__line {
  height: inherit;
  width: 25px;
  background-color: $primaryColor;
  display: inline-flex;
}

.popularPlaces__booking__wrapper {
  display: inline-flex;
  flex-direction: column;
}

.popularPlaces__booking__tabs {
  height: 45px;
  width: 300px;
  display: inline-flex;
  font-family: "OpenSans semibold", sans-serif;
}

.popularPlaces__booking__tabs__tab {
  font-size: $secondarySize;
  width: 100px;
  height: inherit;
  margin-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.popularPlaces__booking__tabs__tab_active {
  background-color: $primaryColor;
  color: white;
}

.popularPlaces__booking__search {
  height: 190px;
  width: 1000px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: $secondarySize;
}

.popularPlaces__booking__search__container {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 15px;
  }
  input {
    text-align: center;
    width: 190px;
    height: 50px;
    border: none;
  }
}

.popularPlaces__booking__search__button {
  font-family: "OpenSans semibold", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  width: 40px;
  height: 110px;
  color: white;
}

.popularPlaces__places {
  width: inherit;
  height: 535px;
  margin-bottom: 170px;
}

.popularPlaces__places__text1 {
  font-family: "OpenSans semibold", sans-serif;
  font-size: 14px;
  color: $primaryColor;
  margin-bottom: 15px;
}

.popularPlaces__places__text2 {
  font-family: "OpenSans bold", sans-serif;
  font-size: 30px;
  margin-bottom: 75px;
}

.popularPlaces__places__images {
  display: flex;
  justify-content: space-between;
}

.popularPlaces__places__images__whiteSign {
  background-color: rgba(255, 255, 255, 0.7);
  height: 90px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans semibold", sans-serif;
  font-size: 20px;
}

.popularPlaces__places__images__img1 {
  display: flex;
  align-items: flex-end;
  height: 370px;
  width: 370px;
  background-image: url("../img/places_img1.png");
  background-position: center;
  background-size: cover;
}

.popularPlaces__places__images__img2 {
  display: flex;
  align-items: flex-end;
  height: 370px;
  width: 370px;
  background-image: url("../img/places_img2.png");
  background-position: center;
  background-size: cover;
}

.popularPlaces__places__images__img3 {
  display: flex;
  align-items: flex-end;
  height: 370px;
  width: 370px;
  background-image: url("../img/places_img3.png");
  background-position: center;
  background-size: cover;
}

.popularPlaces__places__images__img_active {
  height: 160px;
  width: inherit;
  background-color: rgba(255, 190, 0, 0.7);
}

.popularPlaces__places__dotSelector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popularPlaces__places__dotSelector__dot {
  border: 1px solid $primaryColor;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.popularPlaces__places__dotSelector__dot_active {
  background-color: $primaryColor;
  height: 25px;
  width: 25px;
}

.popularPlaces__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popularPlaces__text__text1 {
  font-family: "OpenSans bold", sans-serif;
  font-size: 30px;
  margin-bottom: 45px;
}

.popularPlaces__text__text2 {
  font-size: 16px;
  margin-bottom: 80px;
  text-align: center;
}
