
@import "fonts";
@import "vars";

.image {
  font-family: "OpenSans", sans-serif;
  width: 100%;
  height: 585px;
  background-image: url('../img/norway.png'), url('../img/norway_.png');
  background-position: center, center;
  background-size: cover, cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image__whiteSign {
  width: 470px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
